
<h1>NYT Bestsellers</h1>

{{#each books}}
  <article>
      <h2>{{title}}</h2>
      <p>
        by <strong>{{author}}</strong>
      </p>
      <img src="{{book_image}}" alt="cover of {{title}}">
  </article>
{{/each}}
